.admin-layout {
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  background-color: #f4f4fa;  
  justify-content: center;
}

.dashboard-main {
  flex-grow: 1;
  padding: 20px;
  background: #f4f4fa;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-blog-button {
  background-color: #1103A6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.add-blog-button .fa-add {
  font-size: 20px;
  color: white;
}